// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0
.searchRow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  .filter {
    flex: 1 1 320px;
  }
}

.chartsRow {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 16px;

  .chartCard {
    display: flex;
    flex: 1 1 320px;
    min-width: 320px;
  }
}
