// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0
@use '~@cloudscape-design/design-tokens' as cs;

.galaxyCanvas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 320px;
  border-radius: cs.$border-radius-container;
  background: radial-gradient(ellipse at center, #10122b 0%, #050512 75%);
  overflow: hidden;

  @media (max-width: 688px) {
    height: 220px;
  }
}
