// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0
.floatingButton {
  position: fixed;
  inset-block-end: 24px;
  inset-inline-end: 24px;
  z-index: 2000;
}

.options {
  min-inline-size: 160px;
}
